* {
    background: #B9D8EB;
}

.product_title {
    color: green;
}

.product_link {
    color: purple;
    text-decoration: underline;
}

.product_description{
    color: red;
}

#product_image {
    width: 500px;
}

h2{
	width: 150px;
	color: red;
}

.box{
	background: purple;
	padding: 30px;
	border: 5px solid white;
	margin: 10px;
}
.button{
	background: black;
	color: white;
	padding: 30px;
	border: 5px solid white;
	margin: 10px;
}

.card_product{
    color: black;
}
.wrapper_card{
    color: rgb(29, 1, 54);
}


#unique-description-1{
    background: white;
}

li{
    background: yellowgreen !important;
    font-size: 20px !important;
}

.card_product p{
    background: blueviolet;
}

.wrapper_card p{
    background: rgb(167, 146, 185);
}


